.max-width-380 {
    max-width: 380px !important;
}

.width-380 {
    width: 380px !important;
}

.initial-choice {
    background-image: url("~assets/images/pages/undraw_town_r6pc.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 380px;
    height: 192px;
}
