@using RazorLight
@model dynamic

@{
    Layout = "_Layout.cshtml";
}

<p>
    Hello, new reservation was created for you:
</p>
<ul>
    <li>
        Date and time: @Model.DateTimeFormatted
    </li>
    <li>
        Total price: @Model.Price
    </li>
    <li>
        Duration: @Model.Duration
    </li>
</ul>